
.ticket__title {
  color: #666;
  font-size: 16px;
  font-weight: 500;
  margin-top: 50px;
}

.ticket__subtitle {
  font-size: 30px;
  margin-top: 10px;
}

.ticket__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.ticket__time {
  display: flex;
  align-items: center;
  img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
}
.ticket__exit {
  a {
    color: dodgerblue;
    text-decoration: underline;
  }
}

.ticket__questions {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.ticket__questionNumber {
  width: 40px;
  height: 40px;
  margin: 0 5px 5px 0;
  button {
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    &:hover {
      background: green;
      color: #fff;
    }
  }
}

.question {
  background: #ccc;
}

.question__title {
  padding-top: 30px;
  font-size: 22px;
}

.question__image {
  margin-top: 20px;
  img {
    width: 100%;
  }
}

.question__text {
  padding: 15px 0;
  h5 {
    font-weight:500;
  }
  font-size: 26px;
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
}
.question__answers {
  margin: 0 0 100px 15px;
  li {
    font-size: 18px;
    list-style: decimal;
    color: dodgerblue;
    margin-bottom: 20px;
  }
}

.question__actions {
  padding-bottom: 20px;
  font-size: 14px;
  color: dodgerblue;
  display: flex;
  justify-content: space-between;
}

.question__help {
  display: flex;
  p {
    margin-right: 20px;
  }
}

.question__rightAnswers {
  margin-bottom: 50px;
  h6 {
    font-size: 14px;
    margin-bottom: 15px;
  }
  font-size: 14px;
}