.mainPage__title {
  font-weight: 500;
  margin-bottom: 30px;
}

.mainPage__banner {
  margin-bottom: 60px;
}

.mainPage__buttonsOperation {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}