.thematicHeader__title {
  color: #666;
  font-size: 16px;
  font-weight: 500;
  margin-top: 50px;
}

.thematicHeader__subtitle {
  font-size: 30px;
  margin-top: 10px;
}

.thematicHeader__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.thematicHeader__time {
  display: flex;
  align-items: center;
  img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
}
.thematicHeader__exit {
  a {
    color: dodgerblue;
    text-decoration: underline;
  }
}
