
.pddTopics__title {
  margin-bottom: 5px;
}

.pddTopics__subtitle {
  font-size: 14px;
  font-weight: 500;
}
.pddTopics {
  margin-top: 50px;
  background: #F5F5F5;
  padding: 30px;
}
.pddTopic {
  display: flex;
  align-items: center;
  color: dodgerblue;
}
.pddTopic__image {
  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

.pddTopics__subtitle_green {
  color: #47BC84;
}

.pddTopics__items {
  display: grid;
  column-gap: 2rem;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr;
}


@media screen and (max-width: 750px) {
  .pddTopic__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 460px) {
  .pddTopic__text {
    font-size: 16px;
  }
  .pddTopics__items {
    display: grid;
    grid-template-columns: 1fr;
  }
}